@import 'tailwindcss';

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #D6D6D6;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #800080;
    height: 10px;
    border-radius: 100vh;
  }
}